@import-normalize;
@import "recipe-list.css";
@import "button.css";
@import "recipe.css";
@import "ingredient-list.css";
@import "recipe-edit.css";

*,
*::before,
*::after {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 25px;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

.mr-1 {
  margin-right: 5px;
}
