.recipe-edit {
  /* padding: 30px; */
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  /* margin: 0 auto; */
  /* width: 50%; */
  height: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.recipe-edit__modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 2px 25px rgba(0, 170, 255, 0.26);
  /* font-size: 50%; */
}

.recipe-edit__remove-button-container {
  text-align: end;
}

.recipe-edit__remove-button {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.recipe-edit__details-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 40px;
}

.recipe-edit__label {
  font-weight: bold;
  font-size: 20px;
}

.recipe-edit__input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 90%;
}

textarea.recipe-edit__input {
  resize: none;
  height: 100px;
}

.recipe-edit__ingredient-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  margin-top: 20px;
  margin-left: 40px;
}

.recipe-edit__add-ingredient-btn-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .recipe-edit__details-grid,
  .recipe-edit__ingredient-grid {
    grid-template-columns: 1fr;
  }
}
